:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 0.5);
        padding-bottom: calc(var(--jumbotron-padding-y) * 0.5);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.container .jumbotron {
    max-width: 40rem;
    margin-top: 56px;
}

.favorites {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.animated {
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.resultItem {
    cursor: pointer;
}

.btn-group {
    margin-bottom: 30px;
}

#searchtext {
    width: 40%;
}

#results-weather {
    width: 40%;
    border: 1px solid black;
    position: fixed;
    z-index: 20;
    background: #fff;
}

#err {
    float: right;
}